<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Radian Softwares</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="login_section">
				<table cellpadding="5" cellspacing="0" border="0" width="100%" align="center">
					<tbody>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<!--
								<td align="center"><img src="/images/header_error.jpg" title="Get Help!" alt="Get Help!"></td>
								-->
							<td align="center"><span style="font-size:120px;">Welcome</span></td>
						</tr>
						<tr>
							<td align="center">
								<h1><%= site_title %></h1>
							</td>
						</tr>
						<tr>
							<td align="center">Please go to product page to send email to users. Please <a href="<%= WEBSITE_URL %>products">Navigate</a> to this url.</td>
						</tr>
						<tr>
							<td align="center">
								<strong>
									Address: No. 49, 1st Floor, B Block, Sector 63, Noida, Uttar Pradesh 201301
								</strong>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>